@use '~sass/color';

$button-top-border-width: 2px;
$button-left-border-width: 2px;
$button-right-border-width: 2px;
$button-bottom-border-width: 4px;

@mixin button() {
  border-style: solid;
  border-radius: 6px;
  border-width: $button-top-border-width $button-right-border-width
    $button-bottom-border-width $button-left-border-width;
  padding: 0;
}

@mixin buttonColors($color) {
  border-color: darken($color, 10%);

  &:hover {
    background-color: lighten($color, 10%);
  }

  &:not(:hover) {
    background-color: $color;
  }
}
