@mixin verticalMarginSection() {
  & > *:not(:first-child) {
    margin-top: 16px;
  }
}

@mixin topicTitleMedium() {
  font-size: 1.3rem;
}

@mixin dialogGrid() {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr;
  gap: 12px 18px;
}
