@import '~web/sass/media';
@import '~web/sass/mixin';

.anchor {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.anchor-text {
  color: inherit;
}

.root {
  padding: 0;
  @include defaultLayout();
}

.navigation {
  display: grid;
  gap: 16px;

  @include phone() {
    grid-template-columns: 1fr 1fr;
  }

  @include not_phone() {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
