@import '~web/sass/color';
@import '~web/sass/media';

.audience {
  background-color: white;
}

.description {
  margin-top: 64px;
  font-size: 1.5rem;
}

.root {
  padding: 0;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include phone() {
    & {
      padding: 16px;
    }
  }

  @include not_phone() {
    > * {
      max-width: 500px;
    }
  }
}

.section-title {
  font-size: 2rem;
}

.introduction {
  background-color: #F5F5F5;
}

.logistics {
  color: white;
  background-color: #7FDBFF;
}

.image-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 32px;

  > img {
    width: 100%;
  }

  @include phone() {
    & {
      width: 100%;
    }
  }
}

.pricing {
  background-color: #E34819;
  color: white;
}

@include not_phone() {
  .image-row {
    gap: 0 32px;
    width: 100%;
  }

  .section {
    padding-top: 24px;
    margin-left: auto;
    margin-right: auto;

    &:not(:first-child) {
      padding-bottom: 268px;
    }

    &:first-child {
      padding-bottom: 368px;
    }
  }
}
