@use "~web/sass/color";
@use "~web/sass/media";

.dictionary-form {
  font-weight: 700;
}

.sense {
  font-weight: 400;
  font-size: 16px;
}

.suggestionsContainerOpen {
  border: 1px solid #aaa;
  background-color: #fff;

  border-radius: 0 0 4px 4px;
  position: absolute;
  width: 100%;
}

.suggestionHighlighted {
  background-color: #eaeaea;
  font-weight: 600;
}

.suggestionsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestion {
  padding: 6px;
  cursor: pointer;
}

.input {
  padding: 6px 8px 4px;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.root {
  position: relative;
}

@include media.dark_mode {
  .suggestionsContainerOpen {
    background-color: color.$dark-mode-background;
  }

  .suggestionHighlighted {
    background-color: darken(color.$dark-mode-background, 5%);
  }
}
