@use '~web/sass/page';

.hangul-hanja-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: flex-start;
  gap: 12px;
}

.table-section {
  @include page.verticalMarginTopSmall();
}
