@use '~web/sass/size';

.root {
  margin-left: size.$margin-small;
  margin-top: size.$margin-small;
}

.small {
  margin-top: size.$margin-small;
}

.medium {
  margin-top: size.$margin-medium;
}

.large {
  margin-top: size.$margin-large;
}
