.content {
  margin-top: 12px;
}

.entry {
  &:not(:first-child) {
    margin-top: 12px;
  }
}

.separator {
  height: 2px;
  background-color: #dddee0;
}

.loader {
  display: block;
  width: 80px;
  margin: 120px auto 0;
}
