@use '~web/sass/layout';
@use "~web/sass/media";
@use "~web/sass/size";

.dictionary,
.email {
  margin-top: size.$margin-medium;
}

.instagram-container {
  width: 100%;
}

.text {
  @include media.phone() {
    display: flex;
    flex-direction: column-reverse;
    margin-top: size.$margin-medium;
  }
}

.content {
  display: grid;
  gap: 24px;

  @include layout.defaultLayout();
  @include media.not-phone() {
    grid-template-columns: 1fr 400px;
    justify-content: center;
    align-items: center;
  }
}

.root {
  @include layout.navigationAndContentLayout();
}
