@use '~web/sass/layout';
@use '~web/sass/page';

.consonant {
  margin-right: 12px;
}

.consonants {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.root {
  @include layout.defaultLayout();
}

.section {
  margin-top: 12px;
}

.vowels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .character {
    text-align: left;
  }
}
