@import '~web/sass/mixin';

.character {
    font-size: 2rem;
}

.consonant {
    margin-right: 12px;
}

.root {
    @include defaultLayout();
}

.section {
    margin-top: 12px;
}

.vowels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-size: 2rem;
}
