@use '~web/sass/layout';
@use '~web/sass/size';

.consonant {
  margin-right: 12px;
}

.consonants {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px 0;
}

.root {
  @include layout.defaultLayout();
}

.section {
  margin-top: 12px;
}

.character {
  font-size: 20px;
}

.vowels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px 0;
  font-size: 20px;

  .character {
    text-align: left;
  }
}
