@use '~web/sass/color';

button.root {
  color: color.$definition;
  padding: 0;
  border: none;
  background: none;
}

.root {
  font-size: 1rem;

  @media (prefers-color-scheme: dark) {
    color: color.$clickable-dark-mode !important;
  }
}
