@use '~web/sass/button';
@use '~web/sass/color';
@use '~web/sass/layout';
@use '~web/sass/media';

.about-us-anchor {
  @include media.phone {
    display: none;
  }
}

a.back-element {
  height: calc(100% - 14px);
}

button.back-element {
  height: 100%;
}

.back-element {
  display: flex;
  justify-content: center;
  flex: 1 0 0;
  @include button.button();
  @include button.buttonColors(color.$white);
  padding: 4px 0;

  @include media.not-phone {
    display: none;
  }

  &:disabled {
    background-color: color.$disabled;
  }
}

.back-svg {
  height: 100%;
  width: 100%;
}

.hamburger-button {
  margin-left: 12px;
  flex: 1 0 0;
  height: 100%;

  @include media.not-phone {
    display: none;
  }
}

.root {
  @include media.phone {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  @include media.not-phone {
    @include layout.defaultLayout();
  }
}

.information-svg {
  height: 100%;
  width: 100%;
}

.settings-svg {
  height: 100%;
  width: 100%;
}

.settings-anchor,
.information-anchor {
  margin-left: 12px;
  display: flex;
  justify-content: center;
  flex: 1 0 0;
  height: calc(
    100% -
      (#{button.$button-bottom-border-width + button.$button-top-border-width}) *
      2
  );
  @include button.button();
  @include button.buttonColors(color.$white);
  padding: 4px 0;

  @include media.not-phone {
    display: none;
  }
}
