@use '~web/sass/color';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 1rem;
  border-radius: 3px;

  &.main {
    color: color.$main;
  }

  &.success {
    background-color: color.$success;
    color: color.$white;
  }

  &.error {
    background-color: #ffbaba;
    color: #fff;
  }

  &.warn {
    background-color: color.$warn;
    color: color.$white;
  }
}
