@use '~web/sass/color';
@use '~web/sass/font';
@use '~web/sass/media';

.popup {
  min-height: 100px;
  min-width: 200px;
}

.popup-container {
  z-index: 1;
}

@include media.not_phone() {
  .popup {
    max-width: 300px;
  }
}

.text {
  color: color.$definition;

  @media (prefers-color-scheme: dark) {
    color: color.$clickable-dark-mode;
  }
}
