@use '~web/sass/color';
@use '~web/sass/font';
@use '~web/sass/media';

.popup {
  min-height: 150px;
}

.popup-container {
  z-index: 1;
  width: 300px;
}

.text {
  color: color.$definition;
}

@include media.dark_mode {
  .text {
    color: color.$clickable-dark-mode;
  }
}
