@use '~web/sass/color';
@use '~web/sass/font';
@use '~web/sass/media';

.popup {
  min-height: 100px;
  min-width: 200px;
}

@include media.not_phone() {
  .popup {
    max-width: 300px;
  }
}

.text {
  color: color.$definition;
}
