@import '~web/sass/mixin';

.check-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.email-update {
  display: grid;
  grid-gap: 8px 0;
}

.email-row {
  display: flex;
}

.label {
  @include label();
  text-transform: uppercase;
}

.page-title {
  @include pageTitle();
}

.root {
  @include defaultLayout();
  display: flex;
  flex-direction: column;

  > *:not(:first-child) {
    margin-top: 16px;
  }
}
