@use '~web/sass/media';
@use '~web/sass/size';

.root {
  border-radius: 50%;

  &:not(.empty) {
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  }

  @include phone() {
    height: size.$avatar_height_phone;
    width: size.$avatar_height_phone;
  }

  @include not_phone() {
    height: size.$avatar_height;
    width: size.$avatar_height;
  }
}

.empty {
  border: 1px dashed #000;
}
