@import '~web/sass/media';
@import '~web/sass/size';

.root {
  border-radius: 50%;

  &:not(.empty) {
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  }

  @include phone() {
    height: $avatar_height_phone;
    width: $avatar_height_phone;
  }

  @include not_phone() {
    height: $avatar_height;
    width: $avatar_height;
  }
}

.empty {
  border: 1px dashed black;
}
