@use '~web/sass/color';

.item-list {
  display: flex;
  flex-direction: column;
}

.link {
  margin-top: 6px;

  &:last-child {
    margin-bottom: 24px;
  }

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.root {
  background-color: color.$white;
  padding: 12px;
}
