@use '~web/sass/button';
@use '~web/sass/color';
@use '~web/sass/layout';
@use '~web/sass/media';
@use '~web/sass/size';

.actions {
  > *:not(:first-child) {
    margin-left: 6px;
  }
}

.label {
  font-size: 16px;
  position: absolute;
  top: -10px;
  z-index: 1;
  left: 40px;
  background-color: white;
  padding: 0 2px;

  @media (prefers-color-scheme: dark) {
    background-color: color.$dark-mode-background;
  }
}

.search-section {
  display: flex;
  flex-direction: column;
  position: relative;

  @include media.phone() {
    flex: 1 0 0;
  }

  @include media.not_phone() {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    padding: 0 size.$margin-small;
  }
}

.hamburger-button {
  height: calc(100% - 16px);

  @include media.phone() {
    display: none;
  }
}

.settings-anchor {
  display: flex;
  align-items: center;
  height: calc(100% - 24px);
  padding: 0 6px !important; // override styles from Anchor component

  @include media.phone() {
    display: none;
  }
}

a.return-element {
  height: calc(100% - 22px);
}

button.return-element {
  height: calc(100% - 16px);
}

.loading-line {
  margin-top: 2px;

  &:not(.loading) {
    display: none;
  }
}

.return-element {
  display: flex;
  justify-content: center;
  align-items: center;
  @include button.button();
  @include button.buttonColors(color.$white);
  padding: 0 6px;
  margin-left: size.$margin-small;

  @include media.phone() {
    display: none;
  }

  &:disabled {
    background-color: color.$disabled;
  }
}

.return-svg {
  height: 80%;
  min-width: 30px;
}

.search-input-container {
  flex: 1 0 0;
}

.title-link {
  display: flex;
  align-items: center;
  text-decoration: none;

  > *:not(:first-child) {
    margin-left: 10px;
  }
}

.login {
  font-size: 1.5rem;
  color: color.$anchor;
}

.title {
  color: color.$logo;
}

.root {
  display: flex;
  align-items: center;
}

.searchInput {
  height: 32px;
  width: calc(100% - 16px);

  @include media.phone() {
    display: block;
  }
}
