@use '~web/sass/color';
@use '~web/sass/layout';
@use '~web/sass/media';

.actions {
  > *:not(:first-child) {
    margin-left: 6px;
  }
}

.bar {
  border-radius: 2px;
  background-color: #29627b;
  height: 4px;
  width: 18px;
  margin: 2px 0;
}

.title-link {
  display: flex;
  align-items: center;
  text-decoration: none;

  > *:not(:first-child) {
    margin-left: 10px;
  }
}

.login {
  font-size: 1.5rem;
  color: color.$anchor;
}

.title {
  color: color.$logo;
}

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media.phone() {
    padding: 10px layout.$horizontal-page-padding + 4px;
  }
}

@include media.not_phone() {
  .root {
    padding: 16px layout.$horizontal-page-padding;
  }
}
