@use '~web/sass/button';
@use '~web/sass/color';
@use '~web/sass/layout';
@use '~web/sass/media';
@use '~web/sass/size';

.actions {
  > *:not(:first-child) {
    margin-left: 6px;
  }
}

.bar {
  border-radius: 2px;
  background-color: #29627b;
  height: 4px;
  width: 18px;
  margin: 2px 0;
}

.label {
  font-size: 16px;
  position: absolute;
  top: -10px;
  z-index: 1;
  left: 40px;
  background-color: white;
  padding: 0 2px;
}

.search-section {
  display: flex;
  padding: 0 size.$margin-medium;
  position: relative;

  @include media.phone() {
    flex: 1 0 0;
  }

  @include media.not_phone() {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }
}

.hamburger-button {
  @include button.button();
  @include button.buttonColors(color.$white);
  padding: 0 11px;
  height: calc(100% - 16px);
}

.settings-button {
  @include button.button();
  @include button.buttonColors(color.$white);
  display: flex;
  align-items: center;
  padding: 0 6px;
  height: calc(100% - 24px);
}

.return-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 22px);
  @include button.button();
  @include button.buttonColors(color.$white);
  padding: 0 6px;
  margin-left: size.$margin-small;
}

.return-svg {
  height: 80%;
  min-width: 30px;
}

.search-input-container {
  flex: 1 0 0;
}

.title-link {
  display: flex;
  align-items: center;
  text-decoration: none;

  > *:not(:first-child) {
    margin-left: 10px;
  }
}

.login {
  font-size: 1.5rem;
  color: color.$anchor;
}

.title {
  color: color.$logo;
}

.root {
  display: flex;
  align-items: center;
  padding: 0 layout.$horizontal-page-padding;
}

.searchInput {
  height: 32px;
  width: calc(100% - 16px);

  @include media.phone() {
    display: block;
  }
}
