@use '~web/sass/mixin';

.buttons {
  display: flex;

  > *:not(:first-child) {
    margin-left: 12px;
  }
}

.field {
  display: flex;
  flex-direction: column;

  > *:not(:first-child) {
    margin-top: 12px;
  }
}

.root {
  @include mixin.defaultLayout();

  > *:not(:first-child) {
    margin-top: 12px;
  }
}
