@use '~web/sass/layout';

.buttons {
  display: flex;

  > *:not(:first-child) {
    margin-left: 12px;
  }
}

.field {
  display: flex;
  flex-direction: column;

  > *:not(:first-child) {
    margin-top: 12px;
  }
}

.root {
  @include layout.defaultLayout();

  > *:not(:first-child) {
    margin-top: 12px;
  }
}

.label,
.select {
  font-size: 1rem;
}
