@use '~web/sass/button';
@use '~web/sass/color';
@use '~web/sass/media';

@include media.light_mode {
  .root {
    &:hover {
      color: darken(color.$anchor, 10%);
    }

    &:not(:hover) {
      color: color.$anchor;
    }
  }
}

@include media.dark_mode {
  .root {
    &.button {
      &:hover {
        color: lighten(color.$dark-mode-button-text, 10%);
      }

      &:not(:hover) {
        color: color.$dark-mode-button-text;
      }
    }

    &:not(.button) {
      &:hover {
        color: darken(color.$clickable-dark-mode, 10%);
      }

      &:not(:hover) {
        color: color.$clickable-dark-mode;
      }
    }
  }
}

.root {
  text-decoration: none;

  &.button {
    @include button.button();
    @include button.buttonColors(color.$white);
    text-align: center;

    &:not(.icon) {
      padding: 8px;
    }
  }

  &.icon {
    padding: 8px 16px;
  }
}
