@use "~sass/color";
@use "~sass/size";

.final-ending {
  color: color.$main;
}

.predicate {
  color: color.$olive;
}

.pre-final-ending {
  color: color.$error;
}

.sentence {
  margin-left: size.$margin-small;
}
