@use "~web/sass/color";
@use "~web/sass/size";

.category {
  font-weight: 600;
}

.final-ending {
  color: #962098;
}

.predicate {
  color: color.$olive;
}

.pre-final-ending {
  color: color.$error;
}

.sentence {
  margin-left: size.$margin-small;
}
