@use "~sass/button";
@use '~sass/color';
@use "~sass/size";

.back-anchor {
  display: block;
  margin-top: size.$margin-large;
}

.content-loader-body {
  margin-top: size.$margin-medium;
}

.part-of-speech {
  display: block;
  margin-top: size.$margin-medium;
}

.content-loader-title {
  width: 50%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
}

.teacher-icon {
  height: 22px;
}

.to-topic-anchor {
  @include button.button();
  @include button.buttonColors(color.$white);
  display: flex;
  align-items: center;
  padding: 4px;
  margin-right: 8px;
}
