$fieldBackground: #fcfcfc;
$fieldBorder: #e7e7e7;

$olive: #3d9970;
$success: #15cd72;
$error: #cc0000;
$warn: #ede04d;
$main: #2aa9db;
$white: #fff;
$title: #222;
$text: #444;
$definition: #2057a5;
$information: rgba(3, 27, 78, 0.7);
$anchor: #0069ff;

$label: #676767;

$logo: #6495ed;
