@use "~web/sass/media";

@mixin defaultLayout() {
  @include media.phone() {
    padding: 16px;
  }

  @include media.not_phone() {
    padding: 12px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin pageTitle() {
  font-size: 1.5rem;
}
