@import '~web/sass/color';
@import '~web/sass/media';
@import '~web/sass/size';

@mixin breakText() {
  word-break: break-word;
  overflow-wrap: break-word;
}

@mixin button() {
  border-style: solid;
  color: $white;
  border-radius: 6px;
  font-size: 1rem;
  border-width: 2px 2px 4px;
  padding: 0;
}

@mixin buttonColors($color) {
  border-color: darken($color, 10%);

  &:hover {
    background-color: lighten($color, 10%);
  }

  &:not(:hover) {
    background-color: $color;
  }
}

@mixin defaultLayout() {
  @include phone() {
    padding: 15px;
  }

  @include not_phone() {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin note() {
  font-size: 0.8rem;
  color: $information;
}


@mixin ellipsisText() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin verticalMargin() {
  & > *:not(:first-child) {
    margin-top: 16px;
  }
}

@mixin pageTitle() {
  font-size: 1.5rem;
}

@mixin label() {
  color: $label;
}
