@mixin verticalMarginSection() {
  & > *:not(:first-child) {
    margin-top: 16px;
  }
}

@mixin topicTitleMedium() {
  font-size: 1.3rem;
}

@mixin verticalMarginTopSmall() {
  margin-top: 12px;
}

@mixin verticalMarginTopMedium() {
  margin-top: 124px;
}
