@use '~web/sass/color';
@use '~web/sass/font';
@use '~web/sass/media';

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  height: 100%;
  font-family: font.$default-font-family;
  -webkit-text-size-adjust: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;

  @include media.phone {
    font-size: 18px;
  }

  @include media.not-phone {
    font-size: 16px;
  }

  @media (prefers-color-scheme: dark) {
    background-color: color.$dark-mode-background;
  }
}

body {
  margin: 0;
  height: 100%;
}

:global {
  .seoullatte-project-root {
    height: 100%;
  }
}
