@import '~web/sass/color';

.fa-key {
  font-size: 3rem;
  color: $logo;
  align-self: center;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > *:not(:first-child) {
    margin-top: 1rem;
  }
}

.root {
  display: flex;
  margin: 0 auto;
}

.title {
  align-self: center;
  font-size: 2rem;
  color: $title;
}
