@use '~web/sass/color';
@use '~web/sass/media';
@use '~web/sass/size';

.article-anchor {
  margin-top: 12px;
}

.to-dictionary-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px !important;
}

.to-article-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 6px !important;
}

.book-icon {
  height: 18px;
  width: 18px;
}

.buttons {
  display: flex;

  > *:not(:first-child) {
    margin-left: size.$margin-small;
  }
}

.definition {
  margin-top: 6px;
}

.error {
  color: color.$error;
}

.root {
  padding: 12px 18px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;

  &.loading {
    display: flex;
    justify-content: center;
  }
}

.title {
  display: flex;
  justify-content: space-between;
}

.sense {
  text-align: left;
}

.sense {
  margin-top: 6px;
}

.teacher-icon {
  height: 22px;
}

.loader {
  display: block;
  width: 80px;
  margin: 0 auto;
}

@include media.phone() {
  .root {
    max-width: 280px;
  }
}

@include media.dark_mode {
  .root {
    background-color: darken(#333, 5%);
  }
}

@include media.light_mode {
  .root {
    background-color: color.$white;
  }
}
