@use '~web/sass/color';
@use '~web/sass/media';

.article-anchor {
  display: block;
  margin-top: 12px;
}

.definition {
  margin-top: 6px;
}

.error {
  color: color.$error;
}

.root {
  padding: 12px 18px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: color.$white;

  &.loading {
    display: flex;
    justify-content: center;
  }
}

.title {
  display: flex;
  justify-content: space-between;
}

.sense {
  text-align: left;
}

.section {
  margin-top: 12px;
}

.sense {
  margin-top: 6px;
}

@include media.phone() {
  .root {
    max-width: 280px;
  }
}
