@use '~web/sass/layout';

.anchors {
  margin-top: 24px;
}

.content {
  display: grid;
  grid-template-rows: 1fr auto;
  @include layout.defaultLayout();
}

.footer {
  margin-top: 16px;
}

.root {
  min-height: 100%;
  display: grid;
  grid-template-rows: 60px 1fr;
}
