@use '~web/sass/layout';
@use '~web/sass/size';

.returnTo {
  font-style: italic;
  margin-bottom: size.$margin-small;
}

.anchors {
  margin-top: size.$margin-medium;
}

.content {
  display: grid;
  grid-template-rows: 1fr auto;
  @include layout.defaultLayout();
}

.footer {
  margin: size.$margin-medium 0;
}

.root {
  @include layout.navigationAndContentLayout();
}
