@use '~web/sass/layout';
@use '~web/sass/size';

.returnTo {
  margin-bottom: size.$margin-small;
}

.anchors {
  margin-top: size.$margin-medium;
}

.footer {
  margin: size.$margin-medium 0;
}

.topic-name {
  font-style: italic;
}
