@import '~web/sass/color';
@import '~web/sass/mixin';

.children {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.loading {
  display: flex;
  justify-content: space-between;
}

.root {
  @include button();

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.main {
  @include buttonColors($main);
}

.error {
  @include buttonColors($error);
}
