@use "~web/sass/size";

.back-anchor {
  display: block;
  margin-top: size.$margin-large;
}

.return-svg {
  width: 100%;
}

.content-loader-body {
  margin-top: size.$margin-medium;
}

.part-of-speech {
  display: block;
  margin-top: size.$margin-medium;
}

.content-loader-title {
  width: 50%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.returnTo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: size.$margin-medium;
  width: 24px;
  padding: 2px 4px !important;
}

.senses {
  margin-top: size.$margin-medium;
}

.sense {
  margin-top: size.$margin-medium;
}