@import '~web/sass/color';
@import '~web/sass/mixin';

.box {
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  border-radius: 5px;
}

.root {
  text-decoration: none;

  &:not(.button) {
    &:hover {
      color: darken($anchor, 10%);
    }

    &:not(:hover) {
      color: $anchor
    }
  }

  &.button {
    @include button();
    @include buttonColors($main);
    text-align: center;

    &:not(.icon) {
      padding: 8px;
    }
  }

  &.icon {
    padding: 8px 16px;
  }
}
