<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preconnect"
      href="https://luissaybe.nyc3.digitaloceanspaces.com"
    />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <link rel="manifest" href="manifest.json" />
    <meta name="theme-color" content="#0084c9" />
    <link
      rel="apple-touch-icon"
      href="https://luissaybe.nyc3.digitaloceanspaces.com/seoul-latte/images/icon/apple-touch-ion-192x192.png"
    />
    <title>Seoul Latte</title>
  </head>
  <body>
    <div class="project-root"></div>
    <% if (gaTrackingId) { %>
    <script
      type="text/javascript"
      src="https://www.googletagmanager.com/gtag/js?id=<%=gaTrackingId%>"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "<%=gaTrackingId%>");
    </script>
    <% } %>
    <script async src="https://www.instagram.com/embed.js"></script>
  </body>
</html>
